header.header
        .logo
          img.logoimg(src='./src/img/logo.png')
        ul.socialbut
          each val in styles 
            li.empty
              a.lil(class= val href='http://www.vk.com' target='_blank')
.grad