.menus__left-menu
          ul.menus__left-menu__main-menu
            li
              a(href='index.html') Обо мне
            li
              a.menus__left-menu__main-menu__borders(href='works.html') Мои работы
            li
              a(href='call-me.html') Связаться со мной
          ul.menus__left-menu__contacts-menu
            li Контакты
            li
              .menus__left-menu__contacts-menu__mail-logo
              a(href='#email') pochta@mail.ru
            li
              .menus__left-menu__contacts-menu__phone-logo
              a(href='#phone') +79812342323
            li
              .menus__left-menu__contacts-menu__skype-logo
              a(href='#nickname') nickname